@model Materialverwaltung.Models.StatistikViewModel
@{
    ViewData["Title"] = "Statistik";
}
<script src="~/myLib/js/gLoader.js"></script>
<script type="text/javascript" >
    google.charts.load("current", {packages:["corechart"]});

    google.charts.setOnLoadCallback(drawChartPie);
    function drawChartPie() {
        var data = google.visualization.arrayToDataTable([
            ['Gruppe', 'Anzahl']

            @foreach (var item in Model.Data)
            {                
                <text>
                ,['@item.Key', @item.Value]
                </text>
            }
        ]);

        var options = {
            title: 'Anzahl Materialien pro Materialgruppe',
            is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
</script>
<h2>Statistics</h2>
<div class="row">
    <div class="col-md-6">
        <div id="piechart_3d" style="height: 500px;"></div>
    </div>
</div>

